<div class="navbar navbar-default">
  <div class="navbar-header">
    <span class="navbar-brand">
      <a href="http://last.fm/">
        <img src="http://cdn.last.fm/flatness/badges/lastfm_red_small.gif">
      </a>
    </span>
  </div>
  <div class="container">
    <form class="navbar-form" ng-submit="path('/events/' + location + '/' + distance)">

    <div class="row row-condensed">
        <div class="col-xs-6 col-sm-4">
          <input ng-model="location" type="text" class="form-control" placeholder="Location" title="Location">
        </div>
        <div class="col-xs-3 col-sm-1">
          <input ng-model="distance" type="number" class="form-control" title="Distance (in kilometers)">
        </div>
        <div class="col-xs-3 visible-xs">
          <button type="submit" class="btn btn-default form-control">Update</button>
        </div>
        <div class="col-sm-3 hidden-xs">
          <button type="submit" class="btn btn-default form-control">Update Events</button>
        </div>
        <div class="col-sm-2 hidden-xs">
          <button class="btn btn-default form-control" ng-class="{active: !!minical}" ng-click="minical = !minical">MiniCal</button>
        </div>
        <div class="col-sm-10 hidden-xs">
          <input ng-model="filter" type="search" class="form-control" placeholder="Filter" title="Filter" class="btn btn-default" list="filterList">
        </div>
      </div>
    </form>
  </div>
</div>
<datalist id="filterList">
  <option ng-repeat="i in ::eventKeywords" ng-value="i"/>
</datalist>

<div class="container-fluid">

  <div class="row row-striped row-line" ng-repeat="e in filteredEvents" ng-class="{cancelled: e.cancelled == 1}">

    <div class="col-xs-3 col-md-2">
      <img class="img-responsive img-rounded" ng-src="{{::e.thumb}}">
    </div>

    <div class="col-xs-9 col-md-10">
      <div class="row">

        <div class="col-sm-4" ng-if="!minical">
          <time ng-attr-datetime="::e.startDateFormatted" ng-bind="::e.startDateHumanized"></time>
          <span class="badge" ng-pluralize count="e.startDateInDays" when="{0: 'today', 1: 'tomorrow', other: 'in {} days'}"></span>
        </div>

        <div class="col-sm-4" ng-if="minical">
          <div mini-calendar ng-date="::e.startDate"></div>
        </div>

        <div class="col-sm-3">
          <!-- <span class="visible-xs-inline">@</span> -->
          <a ng-if="e.website" ng-href="::e.website" ng-bind="::e.venue.name"></a>
          <span ng-if="e.website" class="glyphicon glyphicon-new-window small"></span>
          <span ng-if="!e.website" ng-bind="::e.venue.name"></span>
        </div>

        <div class="col-sm-5">
          <a ng-href="::e.url">
            <b ng-bind="::e.title"></b>
          </a>
          <ul class="list-inline">
            <li ng-repeat="artist in e.artistArray">
              <a ng-href="'http://www.last.fm/music/' + artist" ng-bind="::artist">
              </a>
            </li>
          </ul>
        </div>

      </div>
    </div>

  </div>

</div>
